@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: rgb(var(--background));
  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));
  --color-border: rgb(var(--border));
  --color-card: rgb(var(--card));
  --color-primary-text: rgb(var(--primary-text));
  --color-secondary-text: rgb(var(--secondary-text));
  --color-cta: rgb(var(--cta));
  --color-cta-active: rgb(var(--cta-active));
  --color-cta-text: rgb(var(--cta-text));
  --color-success: rgb(var(--success));
  --color-error: rgb(var(--error));
  --color-warning: rgb(var(--warning));
  --color-success-bg: rgb(var(--success-bg));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-success-bg: rgb(var(--success-bg));
  --color-gray-800: oklch(27.8% 0.033 256.848);
}

@layer base {
  button {
    cursor: pointer;
  }

  h1 {
    @apply font-bold;
    font-size: 40px;
    line-height: 74px;
    letter-spacing: -0.01em;
  }

  h2 {
    @apply font-bold;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: -0.01em;
  }

  h3 {
    @apply font-bold;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.02em;
  }

  h4 {
    @apply font-bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
  }

  h5 {
    @apply font-bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }

  .caption {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
  }

  .button {
    @apply font-bold;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: -0.01em;
    min-width: 176px;
  }
}
/* Light mode */
.light {
  --background: 248 250 252;
  --primary: 239 71 111;
  --secondary: 210 40% 96.1%;
  --border: 212 212 212;
  --card: 255 255 255;
  --primary-text: 22 23 28;
  --secondary-text: 136 139 148;
  --cta: 139 92 246;
  --cta-active: 124 58 237;
  --cta-text: 255 255 255;
  --success: 16 255 203;
  --error: 183 29 24;
  --warning: 255 214 0;
  --success-bg: 91 228 155;
  --accent: 221 83% 95%;
  --accent-foreground: 221 83% 53%;
  background: rgba(var(--background));
}

/* Dark mode */
.dark {
  --background: 33 39 55;
  --primary: 239 71 111;
  --secondary: 210 40% 96.1%;
  --border: 38 38 38;
  --card: 220 10% 20%;
  --primary-text: 255 255 255;
  --secondary-text: 136 139 148;
  --cta: 99 102 241;
  --cta-active: 79 70 229;
  --cta-text: 255 255 255;
  --success: 16 255 203;
  --error: 183 29 24;
  --warning: 255 214 0;
  --success-bg: 91 228 155;
  --accent: 221 83% 95%;
  --accent-foreground: 221 83% 53%;
  background: rgba(var(--background));
}

@utility text-primary {
  color: rgb(var(--color-primary));
}

@utility text-primary-text {
  color: rgb(var(--color-primary-text));
}

.red {
  --background: 254, 202, 202;

  --border: 185, 28, 28;
  --card: 239, 68, 68;

  --copy-primary: 250, 250, 250;
  --copy-secondary: 254, 226, 226;

  --cta: 250, 250, 250;
  --cta-active: 254, 226, 226;
  --cta-text: 239, 68, 68;

  background: rgba(var(--background));
}

:root {
  --grape: 114, 35, 204;
}

@utility container {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}

@layer base {
  html {
    @apply p-0 m-0 min-h-screen flex flex-col;
  }

  body {
    @apply p-0 m-auto min-h-screen flex flex-col w-full;
  }

  main {
    @apply flex-grow;
  }
}

h1,
h5 {
  font-family: var(--font-red-hat-display) !important;
}

p,
h2,
h3,
h4 {
  font-family: var(--font-inter) !important;
}

/* Notistack custom styles */
.notistack-MuiContent {
  border-radius: 8px !important;
}

.notistack-MuiContent-success {
  background-color: rgb(var(--success-bg)) !important;
}

.notistack-MuiContent-error {
  background-color: rgba(var(--error)) !important;
}

.notistack-MuiContent-warning {
  background-color: rgba(var(--warning)) !important;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

.scrolling-auto {
  -webkit-overflow-scrolling: auto;
}

.overscroll-auto {
  -ms-scroll-chaining: chained;
  overscroll-behavior: auto;
}

.overscroll-contain {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.overscroll-none {
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.overscroll-y-auto {
  overscroll-behavior-y: auto;
}

.overscroll-y-contain {
  overscroll-behavior-y: contain;
}

.overscroll-y-none {
  overscroll-behavior-y: none;
}

.overscroll-x-auto {
  overscroll-behavior-x: auto;
}

.overscroll-x-contain {
  overscroll-behavior-x: contain;
}

.overscroll-x-none {
  overscroll-behavior-x: none;
}

.ril-outer {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ril__image {
  border-radius: 16px;
  max-height: 90vh;
  object-fit: contain;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
.ril-image-current {
  max-width: 1000vw !important;
  max-height: 1000vh !important;
  object-fit: contain;
  margin: auto !important;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb {
  background: rgb(151, 151, 151);
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

::-webkit-scrollbar-button {
  display: none !important;
}

.prose :where(button):not(:where([class~="not-prose"] *)) {
  min-width: 0;
}

.prose :where(img):not(:where([class~="not-prose"] *)) {
  margin: 0;
}

.prose :where(.prose > :first-child):not(:where([class~="not-prose"] *)) {
  z-index: 1000;
}

.prose :where(p):not(:where([class~="not-prose"] *)) {
  margin: 0;
}

.prose :where(h3):not(:where([class~="not-prose"] *)) {
  margin: 0;
}

.prose :where(button):not(:where([class~="not-prose"] *)) {
  min-width: none;
}
.prose :where(hr):not(:where([class~="not-prose"] *)) {
  margin-top: 16px;
  margin-bottom: 16px;
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
  text-decoration: none;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.slider-container {
  width: 100%;
  margin: auto;
}

.slick-slider {
  height: 100%;
  width: 100%;
}

.slick-slide {
  text-align: center;
}

.slick-next {
  right: 15px !important;
}

.slick-prev {
  left: 15px !important;
  z-index: 10;
}
@media (max-width: 640px) {
  .slick-next,
  .slick-prev {
    top: 40% !important;
  }
}
.leaflet-container {
  z-index: 0 !important;
}
